.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, 0)
}

.btn-primary {
    color: #fff;
    background-color: rgba(49, 132, 253, 0);
    border-color: rgba(49, 132, 253, 0);
}

.btn-primary:hover {
    color: #fff;
    background-color: rgba(49, 132, 253, 0);
    border-color: rgba(49, 132, 253, 0);
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: #fff;
    background-color: rgba(49, 132, 253, 0);
    border-color: rgba(49, 132, 253, 0);
    box-shadow: 0 0 0 .25rem rgba(49, 132, 253, 0)
}
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: rgba(49, 132, 253, 0);
    border-color: rgba(49, 132, 253, 0);
}
.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: rgba(49, 132, 253, 0);
    border-color: rgba(49, 132, 253, 0)
}


.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25rem rgba(49, 132, 253, 0)
}

